@tailwind base;
@tailwind components;
@tailwind utilities;

:root ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
:root ::-webkit-scrollbar-thumb {
  background-color: #252525;
  cursor: pointer;
}

::selection {
  color: #000000;
  background-color: #c0c0c0;
}

html,
body {
  background-color: #000000;
  color: #d0d0d0;
  font-family: "Inconsolata";
  font-size: 1.03rem;
  margin: 0;
  padding: 0;
  caret-color: #e0e0e0;
}

ul li::before {
  content: "*";
  color: #bdbdbd; /* Dimmed */
}

a {
  color: #4286e0;
  text-decoration: none;
  transition:
    background-color 200ms,
    color 200ms;
}

a:hover {
  background-color: #4286e0;
  color: #000000;
}
