@tailwind base;
@tailwind components;
@tailwind utilities;

:root ::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-left: #333333 solid 0.5px;
}
:root ::-webkit-scrollbar-thumb {
  background-color: transparent;
  cursor: pointer;
  border-block: #333333 solid 0.5px;
}

::selection {
  color: #000000;
  background-color: #c0c0c0;
}

html,
body {
  cursor: default;
  background-color: #000000;
  color: #d0d0d0;
  font-family: "Inconsolata";
  font-size: 1.03rem;
  margin: 0;
  padding: 0;
  caret-color: #e0e0e0;
}

ul li::before {
  content: "*";
  color: #cacaca; /* Dimmed */
}

li a {
  transition:
    background-color 200ms,
    color 200ms;
}

a {
  color: #4493f8;
  text-decoration: none;
}

a:hover {
  background-color: #4493f8;
  color: #000000;
}
